# Configuration for CH32V20X
CONFIG_MACH_CH32V20X=y

# Enable extra low-level configuration options
CONFIG_INLINE_STEPPER_HACK=y

# Communication interface
CONFIG_SERIAL=y
CONFIG_SERIAL_BAUD=115200

# Required features
CONFIG_USB=n
CONFIG_USBSERIAL=n

# Clock configuration
CONFIG_CLOCK_FREQ=120000000

# Enable these for debugging
CONFIG_WARN_ON_LOW_LEVEL_ALLOCATION=n
CONFIG_DEBUG_QUEUE_STALL=n

# Default watchdog settings
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_TIMEOUT=2000

# Pin mapping configuration
CONFIG_HAVE_GPIO=y
CONFIG_HAVE_GPIO_ADC=y
CONFIG_HAVE_GPIO_SPI=y
CONFIG_HAVE_GPIO_I2C=y
CONFIG_HAVE_GPIO_HARD_PWM=y

# Enable necessary subsystems
CONFIG_HAVE_STEPPER_BOTH_EDGE=y
CONFIG_HAVE_STEPCOMPRESS=y
CONFIG_HAVE_TMCUART=y
CONFIG_HAVE_ADC=y
CONFIG_HAVE_STRICT_TIMING=y